SportsEquipmentShop/resources/items.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/items"
	xmlns:tns="http://www.example.org/items" elementFormDefault="qualified">

	<complexType name="item">
		<sequence>
			<element name="category" type="string" />
			<element name="type" type="string" />
			<element name="name" type="string" />
			<element name="price" type="string" />
		</sequence>
	</complexType>

</schema>